<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hmhb.mapper.TestMapper">

    <insert id="test">
        insert into user (name, age, `desc`) values
        <foreach item="item" collection="custom.entrySet" separator=",">
            (#{item.name}, #{item.value.age}, #{item.value.desc})>
        </foreach>
    </insert>
</mapper>